<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
  <arg name="colors"/>
  <arg name="parallel" value="8"/>
  <arg value="psv"/>
  <arg name="extensions" value="php"/>

  <file>src</file>
  <file>tests</file>

  <exclude-pattern>vendor</exclude-pattern>

  <rule ref="ptscs"/>

  <rule ref="PSR1.Classes.ClassDeclaration.MissingNamespace">
    <exclude-pattern>tests/*</exclude-pattern>
  </rule>

  <rule ref="Generic.PHP.RequireStrictTypes">
    <exclude-pattern>tests/data/*</exclude-pattern>
  </rule>
</ruleset>
