parameters:
    level: max
    paths:
        - src
        - tests

    excludes_analyse:
        - tests/Data

    bootstrapFiles:
        - tests/bootstrap.php

    ignoreErrors:
        -
            message: '#[\w\\]+::(set[uU]p|test\w+)\(\) has no return typehint specified#'
            path: tests/

    # Miscellaneous parameters
    inferPrivatePropertyTypeFromConstructor: true
