includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - phpstan-baseline.neon


parameters:
    level: 6
    paths:
        - src
        - tests/Features

    bootstrapFiles:
        - tests/bootstrap.php

    scanDirectories:
        - tests/_fixtures

    ignoreErrors:

    # Miscellaneous parameters
    inferPrivatePropertyTypeFromConstructor: true
