<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php">

  <testsuites>
    <testsuite name="mytest">
      <directory suffix="Test.php">tests/Units</directory>
    </testsuite>
    <testsuite name="dice">
      <directory suffix="Test.php">tests/DiceUnits</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-html" target="docs/coverage"/>
  </logging>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
